<!doctype html>
	<head>
		<style>
			/* CSS comes here */
			body {
			    font-family: arial;
			}
			button {
			    padding:10px;
			    background-color:#6a67ce;
			    color: #FFFFFF;
			    border: 0px;
			    cursor:pointer;
			    border-radius: 5px;
			}
			#output {
			    background-color:#F9F9F9;
			    padding:10px;
			    width: 100%;
			    margin-top:20px;
			    line-height:30px;
			}
			.hide {
			    display:none;
			}
			.show {
			    display:block;
			}
		</style>
		<title>JavaScript Speech to Text</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<h2>JavaScript Speech to Text</h2>
        <p>Da click en el botón y di algo...</p>
        <p><button type="button" onclick="runSpeechRecognition()">Speech to Text</button> &nbsp; <span id="action"></span></p>
        <div id="output" class="hide"></div>



        <input type="text" placeholder="brand" name="brand" id="brand">
        <input type="text" placeholder="product" name="product" id="product">
        <input type="text" placeholder="color" name="color" id="color">


        <audio id="myAudio">
            <source src="{{url_for('static', filename = 'sex_mode.mp3')}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<script>
			/* JS comes here */
		    function runSpeechRecognition() {
		        // get output div reference
		        var output = document.getElementById("output");
		        // get action element reference
		        var action = document.getElementById("action");
                // new speech recognition object
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
            
                // This runs when the speech recognition service starts
                recognition.onstart = function() {
                    action.innerHTML = "<small>listening, please speak...</small>";
                };
                
                recognition.onspeechend = function() {
                    action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                    recognition.stop();
                }
              
                // This runs when the speech recognition service returns result
                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    var confidence = event.results[0][0].confidence;
                    output.innerHTML = "<b>Text:</b> " + transcript + "<br/> <b>Confidence:</b> " + confidence*100+"%";
                    var body = document.getElementsByTagName("body")[0];
                    var x = document.getElementById("myAudio"); 

                    fetch('https://192.168.0.7:8080/api/iot', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            text: transcript
                        })
                    }).then(response => response.json()).then(data =>{
                        res = data

                        if(data.results[0].intent == "off_light"){
                            body.style.backgroundColor = "black";
                            body.style.color = "white";
                            output.style.color = "black";
                            return
                        }
                        if(data.results[0].intent == "on_light"){
                            body.style.backgroundColor = "white";
                            body.style.color = "black";
                            return
                        }
                        
                        data.results.map(intent => document.getElementById(intent.intent).value = intent.value)

                        

                    }).catch(error =>{
                        console.log("hola", error);
                    });
                   
                    
                    output.classList.remove("hide");
                };
                
              
                 // start recognition
                 recognition.start();
	        }
		</script>
	</body>
</html>